<html>
    <head>
        <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
        <style>
            body {
                margin:0;
            }
            div {
                height:100%;
            }
        </style>
    </head>
    <body>
        <div id="content"></div>
        <script>
            function update(){
                $.ajax({
                    url: "{{ url_for('.next') }}",
                    success: function(result) {
                        console.log("Next picture: " + result);
                        $("#content").fadeOut(1000, function() {
                            $("#content").attr("style",
                                "background-image: url('" + result + "');\
                                background-size: contain;\
                                background-repeat: no-repeat;\
                                background-position: 50% 50%;\
                                display: none;");
                            $("#content").fadeIn(1000);
                        });
                    },
                });
            }
            update();
            setInterval(update, 60000);
        </script>
    </body>
</html>